{% extends 'frontend/todo.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>CRUD App</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body" id="form-submit">
                <form action="" method="POST" class="card-body" id="form">
                    <div class="input-group">
                        <input type="text" id="text" class="form-control">
                        <input type="submit" name="Submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <ul class="list-group list-group-flush" id="todo-data"></ul>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock content %}